.modal-login {
    position: absolute;
    background: var(--cor-fundo-card);
    width: 40rem;
    height: fit-content;
    padding: 1.3rem;
    border-radius: 8px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
}

.modal-login form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}

.modal-login form .titulo {
    max-width: 50rem;
}

.modal-login form .titulo h1{
    font: 500 2.4rem SFProText;
    color: var(--cor-texto-escuro);
}

.modal-login form .subtitulo h3 {
    font: 400 1.7rem SFProText;
    margin-top: 0.8rem;
}

.modal-login form .conteudo {
    margin-top: 2.4rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
}

.modal-login form .conteudo input {
    margin-bottom: 1.3rem;
}

.modal-login form .conteudo button {
    height: 4rem;
    bottom: -5rem;
    left: 0;
    width: -webkit-fill-available;
    border: none;
    border-radius: 0.8rem;
    outline: none;
    text-align: center;
    font: 400 2.4rem SFProText;
    color: var(--cor-texto-escuro);
}

.modal-login form .conteudo button:hover {
    cursor: pointer;
}
