input {
    background: transparent;
    border: 1px solid var(--cor-borda-campos);
    border-radius: 0.8rem;
    padding-left: 1.3rem;
    height: 4rem;
    outline: none;
    font: 400 1.7rem SFProText;
    color: var(--cor-texto-claro);
    width: 100%;
}
