.modalinfohospital .informacoes {
    width: 100%;
    max-height: 475px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
}

.modalinfohospital .informacoes .detalhes {
    background:var(--cor-fundo-card);
    max-height: 475px;
    max-width: 350px;
    border-radius: 8px;
    width: calc((100% - 30px)/3);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.modalinfohospital .informacoes .detalhes .secao {
    color: var(--cor-texto-escuro);
    font: 500 1.2rem Roboto;
    margin-bottom: 4px;
}

.modalinfohospital .informacoes .detalhes .descricao {
    font: 400 1.2rem Roboto;
    margin-bottom: 1.2rem;
}

.modalinfohospital .informacoes .detalhes .nome {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.modalinfohospital .informacoes .detalhes .nome p {
    font: 400 2rem Roboto;
    color: var(--cor-texto-escuro);
    max-width: 80%;
}

.modalinfohospital .informacoes .detalhes .nome img {
    width: 4.2rem;
    height: auto;
}

.modalinfohospital .informacoes .detalhes .endereco {
    margin-top: 2.8rem;
    align-self: flex-start;
}

.modalinfohospital .informacoes .detalhes .inferior {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.modalinfohospital .informacoes .detalhes .subdados {
    flex: 1;
    margin-right: 2rem;
}

.modalinfohospital .informacoes .detalhes .linkicones {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.modalinfohospital .informacoes .detalhes .icones {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1.2rem;
}

.modalinfohospital .informacoes .detalhes .icones .icone {
    background: var(--cor-fundo-campos);
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 8px;
    margin-right: 0.4rem;
}

.modalinfohospital .informacoes .detalhes .icones img {
    width: 3.2rem;
    height: auto;
    margin-right: 0.4rem;
}

.modalinfohospital .informacoes .detalhes button {
    width: 100%;
    background: var(--cor-fundo-card-hover);
    outline: none;
    border-radius: 0.8rem;
    border: none;
    height: 4rem;
    cursor: pointer;
}

.modalinfohospital .informacoes .detalhes .dadosavaliados {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.modalinfohospital .informacoes .detalhes .avaliacao .nota {
    font: 500 3.6rem Roboto;
}

.modalinfohospital .informacoes .sobre {
    background: var(--cor-fundo-card);
    max-height: 475px;
    max-width: 350px;
    border-radius: 8px;
    width: calc((100% - 30px)/3);
    padding: 1rem;
}

.modalinfohospital .informacoes .sobre .sumario {
    color: var(--cor-texto-escuro);
    font: 500 1.2rem Roboto;
    margin-bottom: 1.6rem;
}

.modalinfohospital .informacoes .sobre .numeroavaliacoes {
    color: var(--cor-texto-claro);
    font: 400 1.2rem Roboto;
    margin-bottom: 1.2rem;
}

.modalinfohospital .informacoes .sobre .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.modalinfohospital .informacoes .sobre .item:last-child {
    margin-top: 3.6rem;
}

.modalinfohospital .informacoes .sobre .item .rotulo {
    flex: 1;
    color: var(--cor-texto-escuro);
    font: 400 1.2rem Roboto;
    margin-right: 1rem;
}

.modalinfohospital .informacoes .sobre .item .avaliacao {
    flex: 1;
    color: var(--cor-texto-claro);
    font: 400 1.2rem Roboto;
    left: 17rem;
}

.modalinfohospital .informacoes .sobre .avaliacao-hospital {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.modalinfohospital .informacoes .sobre .avaliacao-hospital .rotulo {
    color: var(--cor-texto-escuro);
    font: 400 1.2rem Roboto;
}

.modalinfohospital .informacoes .sobre .avaliacao-hospital .nota {
    color: var(--cor-texto-escuro);
    font: 400 4.4rem Roboto;
}

.modalinfohospital .informacoes .analise-salarial {
    background: var(--cor-fundo-card);
    max-height: 475px;
    max-width: 350px;
    border-radius: 8px;
    width: calc((100% - 30px)/3);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.modalinfohospital .informacoes .analise-salarial .sumario {
    color: var(--cor-texto-escuro);
    font: 500 1.2rem Roboto;
    margin-bottom: 1.6rem;
}

.modalinfohospital .informacoes .analise-salarial .media {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.modalinfohospital .informacoes .analise-salarial .media .rotulo {
    font: 400 1.2rem Roboto;
    color: var(--cor-texto-escuro);
}

.modalinfohospital .informacoes .analise-salarial .media .avaliacao {
    font: 400 1.2rem Roboto;
    color: var(--cor-texto-claro);
}

.modalinfohospital .informacoes .analise-salarial canvas {
    height: 100%;
    width: 100%;
}

.modalinfohospital .informacoes .analise-salarial .salario-mes {
    margin-top: 1.6rem;
}

.modalinfohospital .informacoes .analise-salarial .salario-dia-semana {
    margin-top: 1.6rem;
    flex: 1;
}

.modalinfohospital .secaocomentarios {
    margin-top: 1.6rem;
    padding: 2.4rem 2.2rem 1.6rem 2.2rem;
    background: var(--cor-fundo-card);
    border-radius: 8px;
}

.modalinfohospital .secaocomentarios .sumario {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.modalinfohospital .secaocomentarios .comentarios {
    margin-top: 2.6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.modalinfohospital .secaocomentarios .comentarios .comentario {
    width: calc((100% - 2.2rem)/2);
    margin-bottom: 1.6rem;
}

.modalinfohospital .secaocomentarios .comentarios .comentario .sumario {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.6rem;
}

.modalinfohospital .secaocomentarios .comentarios .comentario .sumario .pessoa {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--cor-texto-escuro);
}

.modalinfohospital .secaocomentarios .comentarios .comentario .sumario .pessoa .MuiAvatar-root {
    height: 2.2rem;
    width: 2.2rem;
    margin-right: 1rem;
}

.modalinfohospital .secaocomentarios .comentarios .comentario .textocomentario {
    text-align: justify;
    margin-bottom: 1.2rem;
    color: var(--cor-texto-escuro);
}

