.barra-navbar {
    width: 100vw;
    background: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    position: fixed;
}

.barra-navbar .navbar {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    width: 95%;
    max-width: 150rem;
    height: 6rem;
    margin: auto;
}

.navbar .logo {
    margin: auto 0;
}

.navbar .links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navbar a {
    text-decoration: none;
    align-self: center;
    height: fit-content;
    padding: 0.4rem 0;
}

.navbar .links a {
    font: 400 1.6rem SFProText;
    color: var(--cor-texto-escuro);
}

.navbar .links button {
    font: 400 1.6rem SFProText;
    color: var(--cor-fundo-landing);
    width: 12rem;
    padding: 0;
    height: 3rem;
}
