.barra {
    width: 100vw;
    background: var(--cor-fundo-card);
}

.barra .navbar {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    width: 75%;
    padding-top: 0.8rem;
    padding-bottom: 1.2rem;
    margin: auto;
    margin-bottom: 5.2rem;
}

.navbar .metade1 {
    display: flex;
    flex-direction: row;
    align-content: center;
    flex: 1;
}

.navbar a {
    text-decoration: none;
    align-self: center;
    height: fit-content;
    padding: 0.4rem 0;
}

.navbar a .logo {
    font: 400 3.2rem Roboto;
    color: var(--cor-texto-escuro);
}

.navbar a .link {
    font: 600 1.6rem Nunito;
}
