.barra-navbar {
    width: 100vw;
    background: var(--cor-fundo-card);
}

.barra-navbar .navbar {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    width: 95%;
    max-width: 150rem;
    height: 6rem;
    margin: auto;
    margin-bottom: 5.2rem;
}

.navbar .logo {
    margin: auto 0;
}

.navbar .links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navbar a {
    text-decoration: none;
    align-self: center;
    height: fit-content;
    padding: 0.4rem 0;
}

.navbar .links a {
    font: 400 1.6rem SFProText;
    color: var(--cor-texto-claro);
}

.navbar .links button {
    width: 15rem;
    padding: 0;
}
