.filtrospesquisa {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 27%;
    max-width: 350px;
    min-width: 200px;
    margin-right: 1.2rem;
}

.filtrospesquisa .MuiPaper-root {
    background-color: unset;
}

.filtrospesquisa .MuiAccordionSummary-content {
    margin: 0;
    display: unset;
}

.filtrospesquisa .basepesquisa .MuiAccordionSummary-root:hover:not(.Mui-disabled) {
    cursor: unset;
}

.filtrospesquisa .MuiAccordionSummary-root.Mui-expanded {
    min-height: unset;
}

.filtrospesquisa .MuiAccordionSummary-content.Mui-expanded {
    margin: unset;
}

.filtrospesquisa .MuiAccordionSummary-root {
    padding: unset;
}

.filtrospesquisa .MuiPaper-elevation1 {
    box-shadow: none;
}

.filtrospesquisa .cabecalho {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.filtrospesquisa .cabecalho p {
    font: 400 1.4rem SFProText;
    color: var(--cor-texto-claro);
    max-width: 60%;
}

.filtrospesquisa .cabecalho button {
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
    font: 400 1.2rem SFProText;
    color: var(--cor-texto-claro);
}

.filtrospesquisa .cabecalho + p {
    margin-top: 1rem;
    font: 500 1.4rem SFProText;
    color: var(--cor-texto-escuro);
}

.filtrospesquisa .basepesquisa {
    width: 100%;
    padding: 0.7rem 1.3rem;
    background: var(--cor-fundo-card);
    border-radius: 8px;
}

.filtrospesquisa .basepesquisa .detalhespesquisa {
    width: 100%;
}

.filtrospesquisa .basepesquisa .detalhespesquisa .local {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-top: 0.8rem;
}

.filtrospesquisa .basepesquisa .detalhespesquisa .local .descricao{
    margin-top: 0.4rem;
    font: 500 1.4rem Roboto;
    color: var(--cor-texto-escuro);
}

.filtrospesquisa .basepesquisa .detalhespesquisa .local .seletor {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 0.6rem;
}

.filtrospesquisa .basepesquisa .detalhespesquisa .local .seletor p {
    font: 400 1.4rem Roboto;
    color: var(--cor-texto-claro);
}

.filtrospesquisa .filtro {
    cursor: initial;
}

.filtrospesquisa .dptoemergencia,
.filtrospesquisa .pacientes,
.filtrospesquisa .transporte,
.filtrospesquisa .ambulancia {
    width: 100%;
    margin-top: 1.3rem;
    padding: 0.7rem 1.3rem;
    background: var(--cor-fundo-card);
    border: 1px solid var(--cor-fundo-card);
    border-radius: 8px;
    transition: 0.6s;
}

.filtrospesquisa .sumariofiltro {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 1.3rem;
}

.filtrospesquisa .sumariofiltro img {
    height: 4.2rem;
    width: auto;
    margin-right: 1rem;
}

.filtrospesquisa .sumariofiltro .informacoesfiltro {
    height: 4.2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.filtrospesquisa .sumariofiltro .informacoesfiltro p.nomefiltro {
    color: var(--cor-texto-escuro);
    font: 400 1.2rem SFProText;
}

.filtrospesquisa .sumariofiltro .informacoesfiltro p.numeroderesultados {
    color: var(--cor-texto-claro);
    font: 400 1.2rem SFProText;
}

.filtrospesquisa .propaganda {
    width: 100%;
    height: 180px;
    margin-top: 2.6rem;
    background: var(--cor-texto-claro);
    border-radius: 6px;
}

.filtrospesquisa .dptoemergencia .MuiAccordionDetails-root,
.filtrospesquisa .pacientes .MuiAccordionDetails-root,
.filtrospesquisa .transporte .MuiAccordionDetails-root,
.filtrospesquisa .ambulancia .MuiAccordionDetails-root {
    display: unset;
    padding: unset;
}

.filtrospesquisa .subfiltros {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.6rem;
    border-top: 1px solid var(--cor-texto-claro);
    padding-top: 0.6rem;
}

.filtrospesquisa .subfiltros .opcao {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 0.4rem;
    font: 500 1.4rem Roboto;
}

.filtrospesquisa .subfiltros .opcao p {
    font: 400 1.6rem Roboto;
    cursor: pointer;
}

@media(max-width: 1300px) {
    .filtrospesquisa {
        width: 24%;
    }
}

@media(max-width: 1225px) {
    .filtrospesquisa {
        width: 45%;
    }
}

@media(max-width: 836px) {
    .filtrospesquisa {
        width: 60%;
    }
}
