.filtrospesquisa {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 27%;
    max-width: 300px;
    min-width: 200px;
    margin-right: 2.4rem;
}

.filtrospesquisa .MuiPaper-root {
    background-color: unset;
}

.filtrospesquisa .MuiAccordionSummary-content {
    margin: 0;
    display: unset;
}

.filtrospesquisa .basepesquisa .MuiAccordionSummary-root:hover:not(.Mui-disabled) {
    cursor: unset;
}

.filtrospesquisa .MuiAccordionSummary-root.Mui-expanded {
    min-height: unset;
}

.filtrospesquisa .MuiAccordionSummary-content.Mui-expanded {
    margin: unset;
}

.filtrospesquisa .MuiAccordionSummary-root {
    padding: unset;
}

.filtrospesquisa .MuiPaper-elevation1 {
    box-shadow: none;
}


.filtrospesquisa .cabecalho {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.filtrospesquisa .cabecalho p {
    font: 400 1.4rem SFProText;
    color: var(--cor-texto-claro);
    max-width: 60%;
}

.filtrospesquisa .cabecalho button {
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
    font: 400 1.2rem SFProText;
    color: var(--cor-texto-claro);
}

.filtrospesquisa .cabecalho + p {
    margin-top: 1rem;
    font: 500 1.4rem SFProText;
    color: var(--cor-texto-escuro);
}

.filtrospesquisa .resultados {
    width: 100%;
    padding: 0.7rem 1.3rem;
    background: var(--cor-fundo-card);
    border-radius: 8px;
    margin-bottom: 1.3rem;
}

.filtrospesquisa .resultados p:last-child {
    color: var(--cor-texto-escuro);
}

.filtrospesquisa .basepesquisa {
    width: 100%;
    padding: 0.7rem 1.3rem;
    background: var(--cor-fundo-card);
    border-radius: 8px;
}

.filtrospesquisa .basepesquisa .detalhespesquisa {
    width: 100%;
}

.filtrospesquisa .basepesquisa .detalhespesquisa .local {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-top: 0.8rem;
}

.filtrospesquisa .basepesquisa .detalhespesquisa .local .descricao{
    margin-top: 0.4rem;
    font: 500 1.4rem Roboto;
    color: var(--cor-texto-escuro);
}

.filtrospesquisa .basepesquisa .detalhespesquisa .local .seletor {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 0.6rem;
}

.filtrospesquisa .basepesquisa .detalhespesquisa .local .seletor p {
    font: 400 1.4rem Roboto;
    color: var(--cor-texto-claro);
}

@media(max-width: 1300px) {
    .filtrospesquisa {
        width: 24%;
    }
}

@media(max-width: 1225px) {
    .filtrospesquisa {
        width: 45%;
    }
}

@media(max-width: 836px) {
    .filtrospesquisa {
        width: 60%;
    }
}
