:root {
    --cor-fundo-principal: #F8F8F8;
    --cor-verde-principal: #256C14;
    --cor-verde-claro: #CFDFCB;
    --cor-texto-claro: #707070;
    --cor-texto-escuro: #3E3E3E;
    --cor-texto-campos: #256C14;
    --cor-borda-campos: #707070;
    --cor-fundo-campos: #FFFFFF;
    --cor-fundo-card: #E9EAEA;
    --cor-fundo-card-hover: #DDDDDD;

    font-size: 60%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--cor-fundo-principal);
  }

#root{
    display: flex;
    justify-content: center;
}

@media(min-width: 700px){
    :root{
        font-size: 62.5%;
    }
}
