:root {
    --cor-fundo-principal: #D7D7D7;
    --cor-texto-claro: #707070;
    --cor-texto-escuro: #3E3E3E;
    --cor-borda-campos: #707070;
    --cor-fundo-campos: #FFFFFF;
    --cor-fundo-card: #E9EAEA;
    --cor-fundo-card-hover: #DDDDDD;
    --cor-vermelha-warning: #f44336;

    --cor-fundo-landing: #F8F8F8;
    --cor-borda-campos-landing: #DDDDDD;
    font-size: 60%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--cor-fundo-principal);
  }

#root{
    display: flex;
    justify-content: center;
}

@media(min-width: 700px){
    :root{
        font-size: 62.5%;
    }
}

@font-face {
    font-family: "SFProText";
    src: local("SFProText"),
        url('../../fonts/SFProText-Regular.ttf') format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "SFProText";
    src: local("SFProText"),
        url('../../fonts/SFProText-Light.ttf') format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: "SFProText";
    src: local("SFProText"),
        url('../../fonts/SFProText-Medium.ttf') format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "SFProText";
    src: local("SFProText"),
        url('../../fonts/SFProText-Bold.ttf') format("truetype");
    font-weight: bold;
}
